## Observations and Insights

In [443]:
%matplotlib notebook

In [444]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_mousestudy_df = pd.merge(mouse_metadata,study_results,
                                 how='outer', on='Mouse ID')

# Display the data table for preview
combined_mousestudy_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [445]:
# Checking the number of mice.
mice_count=mouse_metadata['Mouse ID'].count()
mice_count

249

In [446]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint
duplicate_mouse_id=combined_mousestudy_df[["Mouse ID","Timepoint"]]
duplicate_mouse_id = duplicate_mouse_id[duplicate_mouse_id.duplicated(["Mouse ID","Timepoint"], keep="first")]
print(duplicate_mouse_id)

    Mouse ID  Timepoint
909     g989          0
911     g989          5
913     g989         10
915     g989         15
917     g989         20

In [447]:
# Optional: Get all the data for the duplicate mouse ID.
duplicate_mouse_id = duplicate_mouse_id.drop_duplicates(subset = "Mouse ID", keep = 'first')
duplicate_mouse_id_all_data = pd.merge(duplicate_mouse_id1,combined_mousestudy_df, on='Mouse ID',how ='inner')
duplicate_mouse_id_all_data

,Mouse ID,Timepoint_x,Drug Regimen,Sex,Age_months,Weight (g),Timepoint_y,Tumor Volume (mm3),Metastatic Sites
0,g989,0,Propriva,Female,21,26,0,45.000000,0
1,g989,0,Propriva,Female,21,26,0,45.000000,0
2,g989,0,Propriva,Female,21,26,5,48.786801,0
3,g989,0,Propriva,Female,21,26,5,47.570392,0
4,g989,0,Propriva,Female,21,26,10,51.745156,0
5,g989,0,Propriva,Female,21,26,10,49.880528,0
6,g989,0,Propriva,Female,21,26,15,51.325852,1
7,g989,0,Propriva,Female,21,26,15,53.442020,0
8,g989,0,Propriva,Female,21,26,20,55.326122,1
9,g989,0,Propriva,Female,21,26,20,54.657650,1
10,g989,0,Propriva,Female,21,26,25,56.045564,1
11,g989,0,Propriva,Female,21,26,30,59.082294,1
12,g989,0,Propriva,Female,21,26,35,62.570880,2

In [448]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df= combined_mousestudy_df.drop_duplicates(subset = "Mouse ID", keep = 'first')
clean_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

In [449]:
# Checking the number of mice in the clean DataFrame.
clean_df_mousecount= Result['Mouse ID'].count()
clean_df_mousecount

249

## Summary Statistics

In [467]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
#combined_mousestudy_df.describe()
# combined_mousestudy_df=combined_mousestudy_df.groupby('Drug Regimen')

# combined_mousestudy_df["Tumor Volume (mm3)"].mean()
# v_mean=combined_mousestudy_df.groupby('Drug Regimen')["Tumor Volume (mm3)"].mean()
# print(v_mean)
# v_median=combined_mousestudy_df.groupby('Drug Regimen')["Tumor Volume (mm3)"].median()
# print(v_median)
# v_varience=combined_mousestudy_df.groupby('Drug Regimen')["Tumor Volume (mm3)"].variance()
# v_varience
# # This method is the most straighforward, creating multiple series and putting them all together at the end.

# v_sd=combined_mousestudy_df.loc[:,"Tumor Volume (mm3)"].std()
# v_sd
# v_var=combined_mousestudy_df.loc[:,"Tumor Volume (mm3)"].var()
# v_var
#combined_mousestudy_df.describe(include=['object'])
combined_mousestudy_df.describe(include='all')

# find standard error of the mean of all the columns 
combined_mousestudy_df.sem(axis = 0)

Age_months            0.165245
Weight (g)            0.090134
Timepoint             0.323602
Tumor Volume (mm3)    0.204436
Metastatic Sites      0.026155
dtype: float64

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen